@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header{
     margin-top: 5px;
     position: fixed;
    top: 1;
    left: 0;
    width: 100%;
    padding: 1rem 10%;
    background-color: rgba(0, 0, 0, 0.4); /* fundo preto transparente */
    backdrop-filter: blur(10px); /* efeito de borrão */
  -webkit-backdrop-filter: blur(10px); /* suporte Safari */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* linha sutil opcional */
    display: flex;
    justify-content: space-between;
    align-items: center;
     z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #505fff;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #505fff;
    border-bottom: 3px solid #505fff;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #505fff;
        border-bottom: 3px solid #505fff;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #505fff;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;    
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #505fff;
   transition: 0.2s ease;
}

span:hover{
    transform: scale3d(1.03);
    background-color: transparent;
    color: #8892ff;
    text-shadow: 0 0 35px #505fff;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 0%;
    box-shadow: 0 0 25px solid #505fff;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #505fff;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #505fff;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #505fff;
    color: black;
    box-shadow: 0 0 25px #505fff;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "software Developer";
    color: #505fff;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #505fff;
    }
}

@keyframes words{
    0%, 20%{
        content: "Ser Incrível";
    }
    21%, 40%{
        content: "Amigo Perfeito";
    }
    41%, 60%{
        content: "Galã de Novela";
    }
    61%, 80%{
        content: "Presente de Deus";
    }
    81%, 100%{
        content: "Melhor de Todos";
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}

.carta {
    display: flex;
    justify-content: center;
    align-items: 0;
    flex-direction: column;
    background-color: black;
}

.carta-content{
     display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.carta-content h2{
    font-size: 5rem;
}

.carta-img img {
  width: 100%;
  max-width: 450px;
  border-radius: 0rem;
   width: 35vw;
}

.carta-content p{
    font-size: 1.6rem;
}

.presentes-content{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
}

.creditos-content{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
}

.creditos-content p{
    font-size: 1rem;
}

.presentes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.presentes h2{
    font-size: 5rem;
}

.presentes video,
.presentes img {
  max-width: 200px;
  width: 50%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.presentes video:fullscreen,
.presentes img:fullscreen {
  transform: scale(1);
}

.creditos {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 2rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 1rem;
}

video:fullscreen::-webkit-media-controls {
  display: block;
}

video:fullscreen {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}
